.navigation {
  height: var(--navigation-height);
  background-color: var(--white);
  font-size: var(--font-md);
  border-bottom: 1px solid var(--light-grey);
}

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

@media screen and (min-width: 992px) {
  .navigation-container { width: 900px; }
}

@media screen and (min-width: 1200px) {
  .navigation-container { width: 1100px; }
}

@media screen and (min-width: 1400px) {
  .navigation-container { width: 1260px; }
}

.navigation-group-right,
.navigation-group-center,
.navigation-group-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navigation-name {
  margin-right: 10px;
  text-align: center;
}

.navigation-group-right {
  justify-content: flex-end;
}

.navigation-group-left {
  justify-content: flex-start;
}

.navigation-group-center {
  justify-content: center;
}
