<div class="form-field">
  <%= f.label t('activerecord.attributes.user.password_confirmation'), class: 'form-label', for: :password_confirmation %>
  <%= f.text_field :password_confirmation,
    type: 'password',
    class: 'form-input',
    placeholder: t('activerecord.attributes.user.password_confirmation_placeholder'),
    id: :password_confirmation,
    required: true,
    value: value
  %>
</div>
