<div class="form-field">
  <%= f.label t('activerecord.attributes.user.password'), class: 'form-label', for: id %>
  <%= f.text_field :password,
    type: 'password',
    placeholder: t('activerecord.attributes.user.password_placeholder'),
    id: id,
    required: true,
    minlength: id == :password ? 8 : nil
  %>
</div>
