.button,
.button-primary,
.button-danger,
.button-success,
.button-info,
.button-white,
.button-warning,
.button-primary-inverted,
.button-danger-inverted,
.button-success-inverted,
.button-info-inverted,
.button-warning-inverted {
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  outline: 0;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 4px;
  font-size: var(--font-sm);
  outline: 0;
  height: 34px;
  padding: 0 14px;
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
}

.button-primary:focus,
.button-success:focus,
.button-danger:focus,
.button-warning:focus {
  color: var(--white);
}

.button-primary {
  background-color: var(--primary);
  color: var(--primary-inverted);
  border: 0px;
}

.button-primary:hover {
  background-color: var(--primary-dark);
}

.button-success {
  background-color: var(--success);
  color: var(--success-inverted);
  border: 0px;
}

.button-success:hover {
  background-color: var(--success-dark);
}

.button-warning {
  background-color: var(--warning);
  color: var(--warning-inverted);
  border: 0px;
}

.button-warning:hover {
  background-color: var(--warning-dark);
}

.button-danger {
  background-color: var(--danger);
  color: var(--danger-inverted);
  border: 0px;
}

.button-danger:hover {
  background-color: var(--danger-dark);
}

.button-info {
  background-color: var(--info);
  color: var(--info-inverted);
  border: 0px;
}

.button-info:hover {
  background-color: var(--info-dark);
}

.button-white {
  background-color: var(--white);
  color: var(--primary);
  border-color: white;
}

.button-white:hover {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
}

  /* Inverted */

.button-primary-inverted {
  background-color: var(--primary-inverted);
  color: var(--primary);
  border-color: var(--primary);
}

.button-primary-inverted:hover {
  background-color: var(--primary-inverted)
  color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.button-success-inverted {
  background-color: var(--success-inverted);
  border-color: var(--success);
  color: var(--success);
}

.button-success-inverted:hover {
  color: var(--success-dark);
  border-color: var(--success-dark);
}

.button-warning-inverted {
  background-color: var(--warning-inverted);
  border-color: var(--warning);
  color: var(--warning);
}

.button-warning-inverted:hover {
  color: var(--warning-dark);
  border-color: var(--warning-dark);
}

.button-danger-inverted {
  background-color: var(--danger-inverted);
  border-color: var(--danger);
  color: var(--danger);
}

.button-danger-inverted:hover {
  color: var(--danger-dark);
  border-color: var(--danger-dark);
}

.button-info-inverted {
  background-color: var(--info-inverted);
  border-color: var(--info);
  color: var(--info);
}

.button-info-inverted:hover {
  color: var(--info-dark);
  border-color: var(--info-dark);
}

.button-xs {
  width: 88px;
  height: 24px;
  border-radius: var(--border-radius);
  font-size: var(--font-xs);
}

.button-sm {
  width: 100px;
  height: 28px;
  border-radius: var(--border-radius);
  font-size: var(--font-sm);
}

.button-md {
  width: 120px;
  height: 36px;
  border-radius: var(--border-radius);
  font-size: var(--font-sm);
}

.button-lg {
  width: 140px;
  height: 42px;
  border-radius: var(--border-radius);
  font-size: var(--font-md);
  border-width: 2px;
}

.button-xl {
  width: 200px;
  height: 48px;
  border-radius: var(--border-radius);
  font-size: var(--font-lg);
  border-width: 2px;
}
