<!DOCTYPE html>
<html>
  <%= render partial: 'shared/metatags' %>
  <body>
    <%= render partial: 'shared/navigation' %>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
